NautilusWindow .sidebar .view.cell:selected,
NautilusWindow .sidebar .view.cell:selected:hover,
NautilusWindow .sidebar .view.cell:selected:focus {
  background-image: url("assets/arrow-dark.png"),
                    linear-gradient(to left, @dark_borders 1px, transparent 1px),
                    linear-gradient(to bottom, #51A0E0 1px, transparent 1px),
                    linear-gradient(to top, #2A6DA6 1px, transparent 1px),
                    linear-gradient(to bottom, #4286be, #236499);
                    
	background-position: right center;
	background-repeat: no-repeat;
  border-style: none;
  box-shadow: none;
}
