/*
  Set correct layout with 
  gsettings set org.gnome.settings-daemon.plugins.xsettings overrides "{'Gtk/DecorationLayout': <':minimize,maximize,close'>}" for buttons on the right
  or
  gsettings set org.gnome.settings-daemon.plugins.xsettings overrides "{'Gtk/DecorationLayout': <'close,maximize,minimize:'>}"
  for buttons on the left 
*/

.header-bar .button.titlebutton,
.titlebar .button.titlebutton,
.header-bar .button.titlebutton:hover,
.titlebar .button.titlebutton:hover,
.header-bar .button.titlebutton:checked,
.titlebar .button.titlebutton:checked {
  background: none;
  border-width: 1px 0px 2px 0px;
  border-color: transparent;
  border-style: solid;
  border-image: none;
  icon-shadow: none;
  box-shadow: none; }

.header-bar .right .button.titlebutton,
.titlebar .right .button.titlebutton {
  padding-left: 3px;
  padding-right: 4px; }

.header-bar .left .button.titlebutton,
.titlebar .left .button.titlebutton {
  padding-left: 4px;
  padding-right: 3px; }

.titlebar .right .titlebutton,
.titlebar .left .titlebutton,
.titlebar .right .titlebutton:hover,
.titlebar .left .titlebutton:hover,
.titlebar .right .titlebutton:active:hover,
.titlebar .left .titlebutton:active:hover,
.titlebar .right .titlebutton:backdrop,
.titlebar .left .titlebutton:backdrop {
  color: transparent;
  background-position: center;
  background-repeat: no-repeat;
}

/* Minimize */
.titlebar .right .titlebutton:nth-last-child(3),
.titlebar .right:dir(rtl) .titlebutton:nth-child(3),
.titlebar .left .titlebutton:nth-child(3),
.titlebar .left:dir(rtl) .titlebutton:nth-last-child(3) {
  background-image: -gtk-scaled(url('assets/titlebutton-min.png'),url('assets/titlebutton-min@2.png'));
}

.titlebar .right .titlebutton:nth-last-child(3):backdrop,
.titlebar .right:dir(rtl) .titlebutton:nth-child(3):backdrop,
.titlebar .left .titlebutton:nth-child(3):backdrop,
.titlebar .left:dir(rtl) .titlebutton:nth-last-child(3):backdrop {
  background-image: -gtk-scaled(url('assets/titlebutton-min-unfocused.png'),url('assets/titlebutton-min-unfocused@2.png'));
}

.titlebar .right .titlebutton:nth-last-child(3):hover,
.titlebar .right:dir(rtl) .titlebutton:nth-child(3):hover,
.titlebar .left .titlebutton:nth-child(3):hover,
.titlebar .left:dir(rtl) .titlebutton:nth-last-child(3):hover {
  background-image: -gtk-scaled(url('assets/titlebutton-min-prelight.png'),url('assets/titlebutton-min-prelight@2.png'));
}

.titlebar .right .titlebutton:nth-last-child(3):active,
.titlebar .right:dir(rtl) .titlebutton:nth-child(3):active,
.titlebar .left .titlebutton:nth-child(3):active,
.titlebar .left:dir(rtl) .titlebutton:nth-last-child(3):active {
  background-image: -gtk-scaled(url('assets/titlebutton-min-pressed.png'),url('assets/titlebutton-min-pressed@2.png'));
}

/* Maximize */
.titlebar .right .titlebutton:nth-last-child(2),
.titlebar .right:dir(rtl) .titlebutton:nth-child(2),
.titlebar .left .titlebutton:nth-child(2),
.titlebar .left:dir(rtl) .titlebutton:nth-last-child(2) {
  background-image: -gtk-scaled(url('assets/titlebutton-max.png'),url('assets/titlebutton-max@2.png'));
}

.titlebar .right .titlebutton:nth-last-child(2):backdrop,
.titlebar .right:dir(rtl) .titlebutton:nth-child(2):backdrop,
.titlebar .left .titlebutton:nth-child(2):backdrop,
.titlebar .left:dir(rtl) .titlebutton:nth-last-child(2):backdrop {
  background-image: -gtk-scaled(url('assets/titlebutton-max-unfocused.png'),url('assets/titlebutton-max-unfocused@2.png'));
}

.titlebar .right .titlebutton:nth-last-child(2):hover,
.titlebar .right:dir(rtl) .titlebutton:nth-child(2):hover,
.titlebar .left .titlebutton:nth-child(2):hover,
.titlebar .left:dir(rtl) .titlebutton:nth-last-child(2):hover {
  background-image: -gtk-scaled(url('assets/titlebutton-max-prelight.png'),url('assets/titlebutton-max-prelight@2.png'));
}

.titlebar .right .titlebutton:nth-last-child(2):active,
.titlebar .right:dir(rtl) .titlebutton:nth-child(2):active,
.titlebar .left .titlebutton:nth-child(2):active,
.titlebar .left:dir(rtl) .titlebutton:nth-last-child(2):active {
  background-image: -gtk-scaled(url('assets/titlebutton-max-pressed.png'),url('assets/titlebutton-max-pressed@2.png'));
}

/* Close */
.titlebar .right .titlebutton:last-child,
.titlebar .right:dir(rtl) .titlebutton:first-child,
.titlebar .left .titlebutton:first-child,
.titlebar .left:dir(rtl) .titlebutton:last-child {
  background-image: -gtk-scaled(url('assets/titlebutton-close.png'),url('assets/titlebutton-close@2.png'));
}

.titlebar .right .titlebutton:last-child:backdrop,
.titlebar .right:dir(rtl) .titlebutton:first-child:backdrop,
.titlebar .left .titlebutton:first-child:backdrop,
.titlebar .left:dir(rtl) .titlebutton:last-child:backdrop {
  background-image: -gtk-scaled(url('assets/titlebutton-close-unfocused.png'),url('assets/titlebutton-close-unfocused@2.png'));
}

.titlebar .right .titlebutton:last-child:hover,
.titlebar .right:dir(rtl) .titlebutton:first-child:hover,
.titlebar .left .titlebutton:first-child:hover,
.titlebar .left:dir(rtl) .titlebutton:last-child:hover {
  background-image: -gtk-scaled(url('assets/titlebutton-close-prelight.png'),url('assets/titlebutton-close-prelight@2.png'));
}

.titlebar .right .titlebutton:last-child:active,
.titlebar .right:dir(rtl) .titlebutton:first-child:active,
.titlebar .left .titlebutton:first-child:active,
.titlebar .left:dir(rtl) .titlebutton:last-child:active {
  background-image: -gtk-scaled(url('assets/titlebutton-close-pressed.png'),url('assets/titlebutton-close-pressed@2.png'));
}

/*GtkMenuButton*/
.titlebar .left GtkMenuButton.titlebutton:first-child,
.titlebar .left GtkMenuButton.titlebutton:first-child:hover,
.titlebar .left GtkMenuButton.titlebutton:first-child:active,
.titlebar .right GtkMenuButton.titlebutton:last-child,
.titlebar .right GtkMenuButton.titlebutton:last-child:hover,
.titlebar .right GtkMenuButton.titlebutton:last-child:active {
  background-image: none;
  border-width: 1px 1px 2px 1px;
  padding-left: 4px;
  padding-right: 4px;
  icon-shadow: none;
}

.titlebar .left GtkMenuButton.titlebutton:first-child,
.titlebar .right GtkMenuButton.titlebutton:last-child {
  color: @wm_title;
}

.titlebar .left GtkMenuButton.titlebutton:first-child:hover,
.titlebar .right GtkMenuButton.titlebutton:last-child:hover {
  color: @dark_fg_color;
  background-image: linear-gradient(to bottom,
			                              @dark_button_hover_gradient_color_a,
                                    @dark_button_hover_gradient_color_b);
  text-shadow: 0 -1px alpha(black, 0.7);
  icon-shadow: 0 -1px alpha(black, 0.7);
  -gtk-image-effect: highlight;
  border-image: -gtk-scaled(url("borders/button-border-dark.png"),url("borders/button-border-dark@2.png")) 2 2 3 2 / 2px 2px 3px 2px stretch;
  border-radius: 2px;
  border-style: solid;
  border-color: transparent; }

.titlebar .left GtkMenuButton.titlebutton:first-child:checked,
.titlebar .right GtkMenuButton.titlebutton:last-child:checked {
  color: @button_active_text;
  background-image: linear-gradient(to bottom,
                                    @dark_button_active_gradient_color_a,
                                    @dark_button_active_gradient_color_b);
  text-shadow: 0 -1px @button_active_text_shadow;
  icon-shadow: 0 -1px @button_active_text_shadow;
  box-shadow: inset 0 1px 2px alpha(black, 0.2);
  transition-duration: 50ms;
  outline-color: alpha(@button_active_text, 0.3);
  border-image: -gtk-scaled(url("borders/button-active-border-dark.png"),url("borders/button-active-border-dark@2.png")) 2 2 3 2 / 2px 2px 3px 2px stretch; }
